{% extends 'partials/layout.njk' %}
{% block title %}Answerst{% endblock %}
{% block content %}
    <h1>Answers</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Name<th>
                <td>{{name}}<td>
            <tr>

                <tr>
                <th>Age<th>
                <td>{{Age}}<td>
            <tr>

                <tr>
                <th>Birth date<th>
                <td>{{bday}}<td>
            <tr>

                <tr>
                <th>Favourite color<th>
                <td>{{favcolor}}<td>
            <tr>

                <tr>
                <th>Name<th>
                <td>{{cool}}<td>
            <tr>

                <tr>
                <th>Starter pokemon<th>
                <td>{{pokemon}}<td>
            <tr>

                <tr>
                <th>Food order<th>
                <td>{{Food}}<td>
            <tr>

                <tr>
                <th>Fruits<th>
                <td>{{fruit}}<td>
            <tr>

                <tr>
                <th>Name<th>
                <td>{{Name}}<td>
            <tr>
            <tbody>
        <table>
{% endblock%}

